{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-8 col-md-offset-2">
    <h3>Pregled predmeta</h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Predmet
            </th>
            <th>
                Izbrisi predmet
            </th>
        </tr>
        {% for subject in pagerfanta.currentPageResults %}
            <tr>
                <td><a href="{{ path('edit-subject', {id : subject.id}) }}">{{ subject.id }}</a></td>
                <td>{{ subject.name }}</td>
                <td><a class="del" href="{{ path('delete-subject', {id : subject.id}) }}" data-id="{{ subject.id }}">x</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('new-subject') }}">Dodaj novi predmet</a>
    <div class="col-md-12 text-center">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', {'prev_message': 'Prethodna', 'next_message': 'Sledeca' }) }}
    </div>
</div>
{% endblock %}