{% extends "UserBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block navigation %}
{% endblock %}
{% block fos_user_content %}
    <br/>
    <a href="{{ path("fos_user_security_login", {"_locale": "en"}) }}">English</a>
    <a href="{{ path("fos_user_security_login", {"_locale": "rs"}) }}">Srpski</a>
    {% for flashMessage in app.session.flashbag.get('login-notice') %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center"><span class="label label-success">{{ flashMessage }}</span></h1>
                </div>
            </div>
        </div>
        <br/>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form class="form-horizontal" role="form" action="{{ path("fos_user_security_check") }}" method="POST" novalidate>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form-group has-feedback">
                        <label for="username" class="col-sm-2 control-label">{{ 'security.login.username'|trans }}</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="username" placeholder="Username" name="_username" value="{{ last_username }}">
                            <i class="glyphicon glyphicon-user form-control-feedback"></i>
                            {% if error %}
                                <div class="error">{{ error.message|trans({},'messages') }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="password" class="col-sm-2 control-label">{{ 'security.login.password'|trans }}</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="password" placeholder="Password" name="_password">
                            <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                        </div>
                    </div>
                    {#<div class="form-group">#}
                        {#<div class="col-sm-10">#}
                            {#<div class="checkbox">#}
                                {#<label for="remember_me" >#}
                                    {#<input type="checkbox" id="remember_me" name="_remember_me" value="on"> {{ 'security.login.remember_me'|trans }}#}
                                {#</label>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="submit" id="_submit" class="btn btn-info btn-lg btn-block" name="_submit" value="{{ 'security.login.submit'|trans }}">
                        </div>
                    </div>
                    {#<a href="{{ path('fos_user_registration_register') }}" type="submit" class="btn btn-info btn-lg btn-block">Register</a>#}
                </form>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}