{% extends "FOSUserBundle::layout.html.twig" %}
{% block navigation %}
{% endblock %}
{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}