{% trans_default_domain 'FOSUserBundle' %}
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal" role="form" novalidate>
                <div class="form-group has-feedback">
                    <label for="fos_user_registration_form_username" class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-12">
                        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Username'}, 'read_only': false }) }}
                        <i class="glyphicon glyphicon-user form-control-feedback"></i>
                        {{ form_errors(form.username) }}
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="fos_user_registration_form_email" class="col-sm-2 control-label">E-mail:</label>
                    <div class="col-sm-12">
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'E-mail'}, 'read_only': false }) }}
                        <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="fos_user_registration_form_plainPassword_first" class="col-sm-2 control-label">Password:</label>
                    <div class="col-sm-12">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Password'}, 'read_only': false }) }}
                        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="fos_user_registration_form_plainPassword_second" class="col-sm-2 control-label">Confirm password:</label>
                    <div class="col-sm-12">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Confirm password'}, 'read_only': false }) }}
                        <i class="glyphicon glyphicon-lock form-control-feedback"></i>
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>
                {{ form_rest(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-default btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>