{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-8 col-md-offset-2">
    <h3>Pregled regiona</h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Region
            </th>
            <th>
                Izbrisi region
            </th>
        </tr>
        {% for region in pagerfanta.currentPageResults %}
            <tr>
                <td><a href="{{ path('edit-region', {id : region.id}) }}">{{ region.id }}</a></td>
                <td>{{ region.name }}</td>
                <td><a class="del" href="{{ path('delete-region', {id : region.id}) }}" data-id="{{ region.id }}">x</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('new-region') }}">Dodaj novi region</a>
    <div class="col-md-12 text-center">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', {'prev_message': 'Prethodna', 'next_message': 'Sledeca' }) }}
    </div>


</div>
{% endblock %}