<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
            {% stylesheets 'bundles/schooldiary/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block navigation %}
        <nav class="navbar navbar-default" style="border-radius: 0 !important">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('home') }}"><strong>Elektronski dnevnik</strong></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    {% if is_granted('ROLE_ADMIN') %}
                        {% include 'menu/admin_menu.html.twig' %}
                    {% elseif is_granted('ROLE_SCHOOL_ADMIN')%}
                        {% include 'menu/school_admin_menu.html.twig' %}
                    {% else %}
                        {% include 'menu/admin_menu.html.twig' %}
                    {% endif %}

                    <ul class="nav navbar-nav navbar-right">
                        <li><p class="date">{{ 'now' | date('d.m.Y') }}</p></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-1.11.1.js"></script>
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
            {% javascripts '@SchoolDiaryBundle/Resources/public/js/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
