{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-8 col-md-offset-2">
    <h3>Pregled skolskih administratora</h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Skolski administrator
            </th>
            <th>
                Izbrisi skolskog administratora
            </th>
        </tr>
        {% for admin in pagerfanta.currentPageResults %}
            <tr>
                <td><a href="{{ path('edit-school-administrator', {id : admin.id}) }}">{{ admin.id }}</a></td>
                <td>{{ admin.name }} {{ admin.surname }}</td>
                <td><a class="del" href="{{ path('delete-school-administrator', {id : admin.id}) }}" data-id="{{ admin.id }}">x</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('new-school-administrator') }}">Dodaj novog skolskog administratora</a>
    <div class="col-md-12 text-center">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', {'prev_message': 'Prethodna', 'next_message': 'Sledeca' }) }}
    </div>


</div>
{% endblock %}