{% extends '::base.html.twig' %}
{% block body %}
    <div class="col-md-8 col-md-offset-2">
        {{ form(form, {'attr': {'novalidate': 'novalidate'} }) }}
    </div>
    {% if error is defined %}
        {{ error }}
    {% endif %}
{% endblock %}