{% extends '::base.html.twig' %}
{% block body %}
    {#{{ app.request.locale }}#}
    {#<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">English</a>#}
    {#<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'rs'})) }}">Srpski</a>#}
    {#{% trans %}#}
    {#mrk#}
    {#{% endtrans %}#}
    {{ admin.school.name }}
{% endblock %}
