{% extends '::base.html.twig' %}
{% block body %}
    <div class="col-md-8 col-md-offset-2">
        <h4>Skola: <strong>{{ odeljenje.school.name }}</strong></h4>
        <h4>Odeljenje: <strong>{{ odeljenje.razred }}/{{ odeljenje.odeljenje }}</strong></h4>
        <br/>
        {{ form_start(form) }}
        {{ form_widget(form.subject) }}
        {{ form_widget(form.teacher) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
        {% if error is defined %}
            {{ error }}
        {% endif %}
        <br/>
        <h4>Predmeti i nastavnici</h4>
        <table class="table table-bordered">
            <tr>
                <th>Subject</th>
                <th>Teacher</th>
                <th>Delete subject</th>
            </tr>
            {% for item in list %}
                <tr>
                    <td>
                        <a href="{{ path('edit-subject-teacher', {id: item.id}) }}">
                            {{ item.subjectId.name }}
                        </a>
                    </td>
                    <td>
                        {{ item.teacherId.name }} {{ item.teacherId.surname }}
                    </td>
                    <td>
                        <a href="{{ path('delete-subject-teacher', {id: item.id}) }}">x</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

