{% extends '::base.html.twig' %}
{% block body %}
    <div class="col-md-8 col-md-offset-2">
        <h4>Predmet: {{ entity.subjectId.name }}</h4>
        <br/>
        {{ form_start(form) }}
        {{ form_widget(form.teacher) }}
        {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

