{% extends '::base.html.twig' %}

{% block body -%}
<div class="col-md-8 col-md-offset-2">
    <h1>Odeljenje edit</h1>

    {{ form(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('class') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
