{% extends '::base.html.twig' %}

{% block body -%}
<div class="col-md-8 col-md-offset-2">
    <h1>Odeljenje list</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Razred</th>
                <th>Odeljenje</th>
                <th>Razredni</th>
                <th>Generacija</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagerfanta.currentPageResults %}
            <tr>
                <td><a href="{{ path('class-show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.razred }}</td>
                <td>{{ entity.odeljenje }}</td>
                <td>{{ entity.razredni }}</td>
                <td>{{ entity.generacija }}</td>
                <td><a href="{{ path('subject-teacher', { 'classId': entity.id }) }}">Predmeti i nastavnici</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('class-show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('class-edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('class-new') }}">
        Dodaj novo odeljenje
    </a>

    <div class="col-md-12 text-center">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', {'prev_message': 'Prethodna', 'next_message': 'Sledeca' }) }}
    </div>
</div>
    {% endblock %}
