{% extends '::base.html.twig' %}

{% block body -%}
<div class="col-md-8 col-md-offset-2">
    <h1>Odeljenje</h1>

    {% for st in cst %}
        Subject: {{ st.subjectId }} |
        Teacher: {{ st.teacherId }}
        <hr/>
    {% endfor %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Razred</th>
                <td>{{ entity.razred }}</td>
            </tr>
            <tr>
                <th>Odeljenje</th>
                <td>{{ entity.odeljenje }}</td>
            </tr>
            <tr>
                <th>Razredni</th>
                <td>{{ entity.razredni }}</td>
            </tr>
            <tr>
                <th>Generacija</th>
                <td>{{ entity.generacija }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('class') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('class-edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
</div>
{% endblock %}
