{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-8 col-md-offset-2">
    <h3>Pregled skola</h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Skola
            </th>
            <th>
                Izbrisi skolu
            </th>
        </tr>
        {% for school in pagerfanta.currentPageResults %}
            <tr>
                <td><a href="{{ path('edit-school', {id : school.id}) }}">{{ school.id }}</a></td>
                <td>{{ school.name }}</td>
                <td><a class="del" href="{{ path('delete-school', {id : school.id}) }}" data-id="{{ school.id }}">x</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('new-school') }}">Dodaj novu skolu</a>
    <div class="col-md-12 text-center">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', {'prev_message': 'Prethodna', 'next_message': 'Sledeca' }) }}
    </div>
</div>
{% endblock %}