{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-8 col-md-offset-2">
    <h3>Pregled opstina</h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                opstina
            </th>
            <th>
                Izbrisi opstinu
            </th>
        </tr>
        {% for municipality in pagerfanta.currentPageResults %}
            <tr>
                <td><a href="{{ path('edit-municipality', {id : municipality.id}) }}">{{ municipality.id }}</a></td>
                <td>{{ municipality.name }}</td>
                <td><a class="del" href="{{ path('delete-municipality', {id : municipality.id}) }}" data-id="{{ municipality.id }}">x</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('new-municipality') }}">Dodaj novu opstinu</a>
    <div class="col-md-12 text-center">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', {'prev_message': 'Prethodna', 'next_message': 'Sledeca' }) }}
    </div>
</div>
{% endblock %}