{% extends '::base.html.twig' %}
{% block body %}
<div class="col-md-8 col-md-offset-2">
    <h3>Pregled ucenika</h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Id
            </th>
            <th>
                Ucenik
            </th>
            <th>
                Izbrisi ucenika
            </th>
        </tr>
        {% for student in pagerfanta.currentPageResults %}
            <tr>
                <td><a href="{{ path('edit-student', {id : student.id}) }}">{{ student.id }}</a></td>
                <td>{{ student.name }}</td>
                <td><a class="del" href="{{ path('delete-student', {id : student.id}) }}" data-id="{{ student.id }}">x</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('new-student') }}">Dodaj novog ucenika</a>
    <div class="col-md-12 text-center">
        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', {'prev_message': 'Prethodna', 'next_message': 'Sledeca' }) }}
    </div>


</div>
{% endblock %}