<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-th-list"></span> Sekcije <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('region') }}">Regioni</a></li>
            <li><a href="{{ path('municipality') }}">Opstine</a></li>
            <li><a href="{{ path('school') }}">Skole</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('school-administrator') }}">Skolski administratori</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('teacher') }}">Nastavnici</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('subject') }}">Predmeti</a></li>
        </ul>
    </li>
    {% if app.user %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> {{ app.user.email }} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('fos_user_security_logout') }}">Odjavi se</a></li>
        </ul>
    </li>
    {% endif %}
</ul>