{% extends '::base.html.twig' %}
{% block body %}
    <div class="col-md-8 col-md-offset-2">
        {{ teacher.name }} {{ teacher.surname }} <br/>
        <a href="{{ path('save-teacher', {id: teacher.id}) }}">Dodaj profesora</a> <br/>
        {% if error is defined %}
            {{ error }} <br/>
            <a href="{{ path('teacher') }}" class="btn btn-success">Nazad</a>
        {% endif %}
    </div>
{% endblock %}