{% extends '::base.html.twig' %}
{% block body %}
    <div class="col-md-8 col-md-offset-2">
        <h3>Pregled nastavnika</h3>
        <table class="table table-bordered">
            <tr>
                <th>
                    Idv
                </th>
                <th>
                    Nastavnik
                </th>
                <th>
                    Izbrisi nastavnika
                </th>
            </tr>
            {% for teacher in pagerfanta.currentPageResults %}
                <tr>
                    <td><a href="{{ path('edit-teacher', {id : teacher.id}) }}">{{ teacher.id }}</a></td>
                    <td>{{ teacher.name }} {{ teacher.surname }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="del" href="{{ path('delete-teacher', {id : teacher.id}) }}" data-id="{{ teacher.id }}">x</a>
                        {% elseif is_granted('ROLE_SCHOOL_ADMIN')%}
                            <a class="del" href="{{ path('remove-teacher', {id : teacher.id}) }}" data-id="{{ teacher.id }}">x</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path('teacher-search') }}">Dodaj novog nastavnika</a>
        <div class="col-md-12 text-center">
            {{ pagerfanta(pagerfanta, 'twitter_bootstrap3_translated', {'prev_message': 'Prethodna', 'next_message': 'Sledeca' }) }}
        </div>


    </div>
{% endblock %}