{% extends '::base.html.twig' %}
{% block body %}
    <div class="col-md-8 col-md-offset-2">
        {{ form(form, {'attr': {'novalidate': 'novalidate'} }) }}
        {#{{ form_row(form.name) }}#}
        {#{{ form_row(form.surname) }}#}
        {#{{ form_row(form.identificationNumber) }}#}
        {#{{ form_row(form.parentName) }}#}
        {#{{ form_row(form.school) }}#}
        {#{{ form_row(form.subject) }}#}
        {#{{ form_row(form.submit) }}#}
        {#{{ form_widget(form._token) }}#}
        {#{{ form_end(form) }}#}
    </div>
    {% if error is defined %}
        {{ error }}
    {% endif %}
{% endblock %}